<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/imgs/favicon.png" id="icon">
    <title>Skin Cancer Detection</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Skin Cancer Detection</h1>
      </header>
      <nav>
        <ul>
          <li>
            <a href="/" style="color: darkblue">Home</a>
          </li>
          <li>
            <a
              href="/views/about.ejs"
              style="background-color: #ff6464; color: hsl(207, 100%, 90%)"
              >About</a
            >
          </li>
        </ul>
      </nav>
      <main>
        <div class="about-div">
          <h2>About the project</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt vitae commodi, architecto ducimus eius omnis cum blanditiis, recusandae eos magni libero quaerat aliquid? Adipisci, nam animi? Magnam optio ab ad natus in esse, nesciunt assumenda officia possimus nam, sint cupiditate illum impedit quos odit reiciendis autem veniam facilis exercitationem debitis.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit earum in dignissimos molestiae mollitia ipsam ducimus ea ipsum amet cupiditate aliquam reprehenderit, quas placeat, minima, veniam dolorum magnam rerum obcaecati repudiandae officiis excepturi dolorem voluptates?
          </p>
        </div>
      </main>
      <footer>
        <p>© <span id="year"></span> Skin Cancer Detection | All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
